<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
         convertDeprecationsToExceptions="false"
>
    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
        <env name="SPICEDB_HOST" value="http://spicedb:8443" force="true" />
        <env name="SPICEDB_API_KEY" value="somerandomkeyhere" force="true" />
    </php>

    <testsuites>
        <testsuite name="IntegrationWithoutCaveat">
            <directory>./tests/Integration</directory>
            <exclude>tests/Integration/PermissionCaveatTest.php</exclude>
        </testsuite>
        <testsuite name="IntegrationCaveat">
            <file>tests/Integration/PermissionCaveatTest.php</file>
        </testsuite>
        <testsuite name="IntegrationWithoutCaveatAndWatch">
            <directory>./tests/Integration</directory>
            <exclude>tests/Integration/WatchTest.php</exclude>
            <exclude>tests/Integration/PermissionCaveatTest.php</exclude>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>

</phpunit>
